/* Global */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0e0e0e;
    font-family: 'Poppins', sans-serif;
}

/* Override bootsrtap */

.form-control:valid {
    background-color: #393939 !important;
}

.form-control:invalid {
    background-color: #545454 !important;
}

/* Templates */

.text-grey {
    color: #d1d1d1 !important;
}

.text-blue {
    color: #0066ff !important;
}

.text-green {
    color: #00ff47 !important;
}

.text-yellow {
    color: #faff00 !important;
}
.min-vh-80 {
    height: 80vh;
}

.purple-btn-custom {
    border-radius: 10px;
    background-color: #d1007e;
    color: #ffffff;
    border: 1px solid #d1007e;
}

.black-btn-custom {
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.bg-full-black {
    background-color: #000000;
}

.tournament-card-bg{
    background-color: #333634;
}

/* Navigation bar */
.navbar-custom {
    background-color: #000000;
}

.navbar .container-fluid {
    margin-left: 20px;
    margin-right: 20px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

/* Footer */
.footer-bg {
    background-color: #191919;
}