/* Global */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0e0e0e;
    font-family: 'Poppins', sans-serif;
}

/* Override bootsrtap */
.form-control:valid {
    background-color: #393939 !important;
}

.form-control:invalid {
    background-color: #545454 !important;
}

.card {
    border-radius: 2em;
    width: 100%;
}

.card-img-top {
    width: fit-content;
    height: fit-content;
    object-fit: cover;
    min-height: 300px;
    max-height: 300px;
    min-width: 100%;
    overflow: hidden;
}

/* Text colors */
.text-grey {
    color: #d1d1d1 !important;
}

.text-blue {
    color: #0066ff !important;
}

.text-green {
    color: #00ff47 !important;
}

.text-yellow {
    color: #faff00 !important;
}

.table-cell-text {
    color: #ababab !important;
}

/* Buttons */
.purple-btn-custom {
    border-radius: 10px;
    background-color: #d1007e;
    color: #ffffff;
    border: 1px solid #d1007e;
}

.purple-btn-custom:hover {
    background-color: #b4026d;
    color: #ffffff;
    border: 1px solid #d1007e;
}

.black-btn-custom {
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.black-btn-custom:hover {
    color: #888888;
    /*background-color: #0e0e0e;*/
}


/* Backgrounds */
.bg-full-black {
    background-color: #000000;
}

.bg-custom-grey {
    background-color: #0e0e0e;
}

.tournament-card-bg {
    background-color: #333634;
}

/* Other */

.min-vh-80 {
    height: 80vh;
}

.text-hover:hover {
    color: #d1d1d1 !important;
}

/* Navigation bar */
.navbar-custom {
    background-color: #000000;
}

.navbar .container-fluid {
    margin-left: 20px;
    margin-right: 20px;
}

/* Underline effect */
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
    position: relative;
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: '';
    background-color: #d1007e;
    width: 0;
    height: 4px;
    transition: all .5s;

}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:hover::after {
    width: 100%;
}

/* Footer */
.footer-bg {
    background-color: #191919;
}