@model IEnumerable<Tournament>

<div class="container py-3">
    <div class="card">
        <div class="row">
            <a asp-controller="Tournaments" asp-action="Create" class="w-100 btn btn-lg btn-primary" type="submit" width="25%">Создать</a>
            @foreach (var item in Model)
            {
                <div class="col-md-4 mt-3">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
                </div>
                <div class="col-md-8 px-3 mt-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">@item.Title</h4>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">@item.Date.ToString("g")</p>
                        <a type="btn btn-success" asp-controller="Details" asp-action="Index" asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-secondary">
                            Details
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>