@{
    ViewData["Title"] = "Home Page";
}

<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row mt-5">
            <div class="text-white text-center">
                <h1>Покажи, кто здесь сильнее! Одолей своих врагов на поле битвы.</h1>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-4">
                    <a type="btn btn-success" asp-area="" asp-controller="Tournaments" asp-action="Index" class="btn btn-outline-success text-white bg-transparent border rounded mt-3" value="Турниры"></a>
                </div>
                @*@if (User.Identity.IsAuthenticated)
                                {*@
                <div class="col-4">
                    <a type="btn btn-success" asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-success text-white login-btn-bg mt-3" value="Зарегестрироваться"></a>
                </div>
                @*}*@
            </div>
        </div>
    </div>
</section>